table{
    border-collapse: collapse;
}
td{
    border-style: double;
    border-right: none;
    border-left: none;
    border-top: none;
}
th{
    border-bottom: 2px solid black;
    border-top: none;
}

a{
    text-decoration: none;
}
